vendor/
**/vendor/
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log

.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example

public/storage
**/public/storage
public/hot
**/public/hot
storage/*.key
**/storage/*.key
.phpunit.result.cache
**/.phpunit.result.cache
.phpunit.cache
**/.phpunit.cache

.vscode/
Homestead.yaml
Homestead.json
/.vagrant
